

@{
    ViewBag.Title = "Astromaze";
}

<main style="background-color: LightGray; margin-top: 20px;">

    <h1 id="title" style="font-weight: 700; font-size: 150px; color: #A020F0; margin-left: 100px; margin-top: 50px; ">ASTROMAZE</h1>
    <p style="color: #303135; font-weight: 600; margin-left: 100px; margin-top: 10px; margin-bottom: 20px; "><a href="http://astromaze.paginaoficial.ws/" target="_blank">Clique Aqui, Entre em nosso Site e Conheça nosso Projeto!</a></p>
    <br />
</main>


