@{
    ViewBag.Title = "Home";
}

<main style="background-color: LightGray;">
    <section class="row" aria-labelledby="aspnetTitle" style="margin-left: 20px;">
        <h1 id="title" style="font-weight: 700; font-size: 57px; color:#A020F0;">ASTROMAZE</h1>
        <p  style="font-size:20px;">CADASTRO DE CLIENTES</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle" style="margin-left: 30px;">
            <h2 id="gettingStartedTitle" style="font-weight: 700; color:#9932cc; ">SOBRE NÓS</h2>
            <p style="width: 350px; text-align: justify">Astromaze é uma empresa fictícia criada em 2024 por Ana Carolina, Ana Luiza e Yasmin Souza, alunas do curso de desenvolvimento de sistemas da ETEC Fernando Prestes, com o objetivo de revolucionar a interação humano-máquina. a Astromaze se destaca da criação de sistemas inteligentes e autônomos que facilitam e aprimoram uma variedade de processos e tarefas. Nosso foco principal está em criar robôs assistentes altamente adaptáveis e personalizáveis que possam ser aplicados em diversos setores, desde assistência domiciliar até ambientes industriais complexos. Através de avanços em inteligência artificial, aprendizado de máquina e robótica, a Astromaze está redefinindo a maneira como os humanos interagem e colaboram com as máquinas. </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle" style="margin-left: 20px;">
            <h2 id="librariesTitle" style="font-weight: 700; color:#9932cc;">ASTROGLOWING</h2>
            <p style="width:350px;">
                Nosso novo Produto ASTROGLOWING: <br />Robô Assistente - Soluções para Diversos Setores:

                <br /> ° Assistência Pessoal
                <br /> ° Assistência em Saúde
                <br /> ° Assistência no Trabalho
                <br /> ° Assistência Educacional
                <br /> ° Assistência Comercial
                <br /> ° Assistência Industrial
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle" style="margin-left: -60px;">
            <img src="~/robo.png" width="200">
        </section>
      
     
    </div>
</main>